main{
  display: flex;
  gap: 15px;
}
.conteudo-info{
  max-width: 400px;
  align-items: center;
  text-align: center;
}
.conteudo-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-img{
  border-radius: 50%;
  overflow: hidden;
}
.conteudo-img{
  max-width: 250px;
  width: 100%;
}
@media (max-width:560px){
  .container-img{
    max-width: 180px;
  }
}