.destaques-card{
    width: 710px;
    overflow: hidden;
    box-shadow: 11px 1px 1px var(--cor-primaria);
}
.destaque-cards-imgs{
    display: flex;
    flex-direction: row;
    gap: 10px;
    img{
      max-width: 350px;
    }
}


@media (max-width:840px){
.destaque-cards-imgs img{
    width: 50%;
}
}

@media(max-width: 740px){
.destaques-card{
  width: 300px;
}
}