
.banner {
  position: relative;
  padding: 40px 0px 40px 0px;
  overflow: hidden;
  border-radius: 0 0 8px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-bg{
  z-index: -1;
  position: absolute;
}



@media (max-width: 600px) {
  .banner {
    padding: 20px 0px 20px 0px;
  }

}