main{
  display: flex;
  gap: 15px;
}
.conteudo-info{
  align-items: center;
  text-align: center;
}
.container-img{
  overflow: hidden;
  box-shadow: 5px 1px 1px var(--cor-primaria);
}
.conteudo-descricao{
  max-width: 350px;
  min-width: 200px;
  font-size: 1.2rem;
  box-shadow: 5px 1px 1px var(--cor-primaria);
}

@media (max-width: 1280px){
  main{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .conteudo-descricao{
    font-size: 1rem;
  }
}