main{
  height: 100vh;
}
.banner {
  position: relative;
  padding: 60px 0px 60px 0px;
  overflow: hidden;
  border-radius: 0 0 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-bg{
  z-index: -1;
  position: absolute;
}
.banner-title{
  font-size: 5rem;
  text-shadow: 2px 2px 2px black;
}
.conteudos{
  padding-top: 25px;
  display: flex;
  justify-content: space-around;
}
.conteudo-img{
  max-width: 250px;
  width: 100%;
}

@media (max-width:840px){
  .conteudos{
    gap: 10px;
    flex-direction: column;
}
}


@media (max-width: 600px) {
  .banner {
    padding: 20px 0px 20px 0px;
  }
  .banner-title{
    font-size: 1.8rem;
  }

}