<main>
  <app-banner>
    <h1 titulo class="banner-title">editto</h1>
    
    <span subtitulo class="banner-subtitle">A sua vitrine de projetos</span>
  </app-banner>
  <section class="conteudos">
    <app-usuario-perfil ></app-usuario-perfil>
    @if (projetosDestaque().length >=1) {<app-destaques/>}

  </section>
  @if(temProjetosExibidos()){
  <section class="projetos-container">
      <h1>Projetos de {{ perfilUser().usuario }}</h1>
    
    <div class="projetos">
      @for (projeto of projetos(); track projeto.id) {
      @if(projeto.exibir){
      <div class="projeto-card">
        <app-projeto>
        <mat-card-title titulo>{{ projeto.titulo }}</mat-card-title>
        <mat-card-subtitle tipo>{{ projeto.categoria }}</mat-card-subtitle>

        <a target="_blank" class="img-projetos-container" url [href]="projeto.urlLink">
          <img class="img-projetos" img mat-card-image [src]="projeto.urlImg" [alt]="projeto.titulo">
        </a>
      </app-projeto>
      </div>
      }
    }
    </div>
  </section>
}
</main>