.conteudos{
  padding-top: 25px;
  display: flex;
  justify-content: space-around;
}
.projetos-container{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-projetos-container{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.img-projetos{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projetos{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.projeto-card{
  max-width: 350px;
  max-height: 400px;
}

@media (max-width:1400px){
  .conteudos{
    gap: 10px;
    flex-direction: column;
    align-items: center;
}
}
@media (max-width:500px) {
  .projetos{
    width: 100%;
  }
}

