.dashboard-container{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
}
.dashboard-painel{
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: space-around;
  flex-direction: row;
  gap: 10px;
}

button{
  font-size: 1.4rem;
  padding: 25px;
  margin-top: 10px;
}

.aba-projeto{
  width: 80%;
  height: 500px;
  min-width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  overflow-y: auto;
}
.aba-usuario{
  width: 20%;
  min-width: 250px;
}

.img-projetos-container{
  max-width: 380px;
}
.img-projetos{
  width: 100%;
  object-fit: fill;
}

.projeto-container{
  max-width: 380px;
}

@media (max-width:600px) {
  .dashboard-painel{
    flex-direction: column;
    align-items: center;
  }
}