footer{
    width: 100%;
    background-color: var(--cor-primaria);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h3{
    color: black;
}

fa-icon{
    font-size: 2rem;
    color: black;
}
fa-icon:hover{
    color: white;
    transform: scale(2);
}