footer{
    height: 80px;
    width: 100%;
    background-color: var(--cor-primaria);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    position: relative;
    margin-top: 80px;
}
.redes{
 left: 0;
 position: absolute;
 font-size: 2rem;
}
fa-icon{
 color: black;
}
fa-icon:hover{
    color: white;
    transform: scale(2);
}